* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(140, 36, 36);
    font-family: Alfa Slab One;
    color: whitesmoke;
    font-size: 22px;
    height: 80px;
    padding: 20px;
    border-bottom: solid black;
}

.imglogo {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 10px 0 0;
}

.logo {
    text-transform: capitalize bold;
    float: left;
    font-weight: lighter;
    color: yellow;
    font-size: 35px;
    font-family: Alfa Slab One;
    display: flex;
    align-items: center;
    flex-direction: none;
}

.logo a {
    color: rgb(215, 182, 12);
    text-decoration: none;
}

.logo a:hover {
    color: rgb(252, 211, 7);
    text-shadow: 2px 2px 5px #ffffff;
    text-decoration: solid #334;
}

.bar {
    float: right;
}

.bar ul {
    margin: 7px 0 0 0;
    letter-spacing: 1px;
}

.bar ul li {
    list-style: none;
    display: inline-block;
}

.bar a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    margin: 0 3px;
    transition: all .3s;
}

.bar a:hover {
    color: rgb(252, 211, 7);
    text-decoration: solid #334;
}

.imagen_premium {
    width: 45%;
    justify-content: center;
    display: flex;
    margin: auto;
    text-align: center;
    border: 10px solid rgb(208, 208, 8);
    border-radius: 20px;
    position: relative;
    z-index: 1;
    top: 0;
    align-items: center;
    flex-direction: row;
}

.top_premium {
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    color: rgb(0, 0, 0);
    text-align: center;
    z-index: 2;
    align-items: center;
    position: absolute;
}

.top_premium h1 {
    font-size: 60px;
    font-family: Neonderthaw;
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px 5px #ffffff;
}

.top_premium p {
    font-size: 15px;
    width: 300px;
    color: #2e2e29;
    text-shadow: 3px 3px 5px #ffffff;
    font-family: Alfa Slab One;
    text-transform: uppercase;
}

.bottom_premium {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    text-align: center;
    z-index: 2;
    align-items: center;
    position: absolute;
}

.bottom_premium h2 {
    font-family: Alfa Slab One;
    font-size: 50px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow:
        8px 8px #c0b51e,
        20px 20px #000000;
}

.boton_premium {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    align-items: flex-end;
    background-color: yellow;
    border: none;
    margin-top: 120px;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    font-family: Alfa Slab One;
}

.boton_premium:hover {
    box-shadow: white 0 0 100px, white 0 0 100px, white 0 0 100px;
    border: 1px solid white;
}

.centrado {
    margin: auto;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fondo_premium::before {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-image: url(img/fondo-cocteles.jpg);
    color: #333;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.fondo_contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-image: url(img/fondo-cocteles.jpg);
    color: #333;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.imagenes_contacto {
    display: inline-block;
    margin: 0;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.imagen_contacto {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

.imagen_contacto img {
    display: inline-block;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

#contacto {
    position: relative;
}

#premium {
    position: relative;
}

#nosotros {
    position: relative;
}

.fondo_premium {
    display: flex;
}

.fondo_contacto {
    display: flex;
}

.fondo_nosotros {
    display: flex;
}

.fondo_nosotros::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-image: url(img/fondo-cocteles.jpg);
    color: #333;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.contenedor_vision {
    color: rgb(0, 0, 0);
    float: calc(100vh - 80px);
    text-align: center;
    font-family: Alfa Slab One;
    margin: 0;
}

.contenedor_mision {
    color: rgb(0, 0, 0);
    float: calc(100vh - 80px);
    text-align: center;
    font-family: Alfa Slab One;
}

.caja_uno {
    display: inline-block;
    justify-content: center;
    font-size: 25px;
    font-family: Alfa Slab One;
}

#cocteles {
    position: relative;
}

#cocteles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-image: url(img/fondo-cocteles.jpg);
    color: #333;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.coctel_foto {
    border: 5px solid black;
    max-width: 200px;
    max-height: 200px;
    display: inline-flex;
    padding: 2px;
    margin: 20px;
}

.coctel_foto_bloqueada {
    border: 5px solid black;
    max-width: 200px;
    max-height: 200px;
    display: inline-flex;
    padding: 2px;
    margin: 20px;
    filter: blur(6px);
}

.bloqueado {
    position: absolute;
    width: 50px;
    justify-content: center;
    display: flex;
    margin: 90px;
}

.descripcion {
    font-size: 15px;
    font-family: Alfa Slab One;
    text-align: left;
    display: flex;
    padding-left: 10px;
}

.cocteles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nombre_coctel {
    font-size: 25px;
    width: 45%;
    margin: 10px 0;
    background-color: rgb(227, 193, 24);
    border-radius: 15px;
    font-family: Alfa Slab One;
    display: flex;
    padding-top: 0px;
    transition: all .2s
}

.nombre_coctel:hover {
    background-color: rgb(252, 211, 7);
}

.caja {
    padding-top: 20px;
}

.caja_bloqueada {
    padding-top: 20px;
}

#cocteles span {
    padding-left: 10px;
}

.imagen_nosotros {
    justify-content: center;
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    top: 0;
    image-resolution: calc(100vh - 80px);
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.texto_vision {
    position: absolute;
    top: 7%;
    left: 20px;
    width: 700px;
    color: whitesmoke;
    text-align: left;
    font-size: 50px;
    font-style: oblique;
    text-shadow: #000000 10px 8px;
    letter-spacing: 2px;
    word-spacing: 7px;
}

.texto_mision {
    position: absolute;
    top: 45%;
    left: 52%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: right;
    width: 700px;
    font-size: 50px;
    font-style: oblique;
    text-shadow: #000000 10px 8px;
    letter-spacing: 2px;
    word-spacing: 7px;
    text-align: initial;
}

.texto_valores {
    position: absolute;
    top: 80%;
    left: 20px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    text-align: right;
    width: 700px;
    font-size: 50px;
    font-style: oblique;
    text-shadow: #000000 10px 8px;
    letter-spacing: 2px;
    word-spacing: 7px;
}

.texto_contacto {
    position: absolute;
    width: 40%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.titulo_contacto {
    text-align: center;
    font-family: Alfa Slab One;
    padding-top: 25px;
    color: rgb(140, 36, 36);
    font-style: oblique;
    font-size: 40px;
    margin-bottom: 15px;
}

#principal {
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(img/cocktail-glass-with-ice-cubes-garnished-with-dried-lemon-and-fruit.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

#principal div h1 {
    font-size: 90px;
    font-family: Neonderthaw;
    color: rgb(255, 0, 0);
}

#principal div h1 span {
    color: rgb(215, 182, 12);
}

#principal div p {
    font-family: Alfa Slab One;
    margin: 15px;
    margin-bottom: 320px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: rgba(140, 36, 36, 0.59);
    padding: 4px;
}

#principal button {
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgb(255, 0, 0);
    padding: 1em;
    border: 5px solid black;
    border-radius: 30px;
    border-style: ridge;
}

#principal button a {
    font-family: Alfa Slab One;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 40px;
}

#principal button a:hover {
    color: black;
}

.call {
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: calc(100vh - 80px);
    text-align: center;
}

footer {
    background-color: rgb(140, 36, 36);
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p {
    float: left;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.66);
    height: fit-content;
}

footer i {
    font-size: 25px;
    letter-spacing: 25px;
    color: rgba(245, 245, 245, 0.81);
    float: right;
}