#cocteles {
    position: relative;
}

// fondo

#cocteles::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-image: url(../img/fondo-cocteles.jpg);
    color: #333;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

// titulo

.titulo_cocteles {
    margin: 0;
    font-size: 70px;
    padding: 20px;
    font-family: $fuente2;
    display: flex;
    justify-content: center;
    color: #000000;
    text-shadow: 0px 0px 30px #000000;
}

// fotos cocteles

.coctel_foto {
    border: 5px solid $color3;
    max-width: 200px;
    max-height: 200px;
    display: inline-flex;
    padding: 2px;
    margin: 20px;
}

.coctel_foto_bloqueada {
    border: 5px solid $color3;
    max-width: 200px;
    max-height: 200px;
    display: inline-flex;
    padding: 2px;
    margin: 20px;
    filter: blur(6px);
}

.bloqueado {
    position: absolute;
    width: 50px;
    justify-content: center;
    display: flex;
    margin: 90px;
}

// texto cocteles

.descripcion {
    font-size: 15px;
    font-family: $fuente1;
    text-align: left;
    display: flex;
    padding-left: 10px;
    max-width: 400px;
    margin-right: 10px;
}

// orden tarjetas

.cocteles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & h2 {
        padding-left: 10px;
        font-size: 20px;
    }
}

// titulo cocteles

.nombre_coctel {
    font-size: 25px;
    width: 45%;
    margin: 10px 0;
    background-color: rgb(227, 193, 24);
    border-radius: 15px;
    font-family: $fuente1;
    display: flex;
    padding-top: 0px;
    transition: all 0.2s;

    &:hover {
        background-color: rgb(252, 211, 7);
    }
}

// tarjeta

.caja {
    padding-top: 20px;
}

.boton_cocteles {
    display: flex;
    text-decoration: none;
    color: $color3;
}

//tarjetas receta

.contenedor_receta {
    display: flex;
    justify-content: center;
}

.divisor {
    height: 10px;
    width: 100%;
    margin: auto;
    border: 2px $color3;
    background-image: url(/img/fondo\ negro.jpeg);
}

.divisor1 {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 300px;
    width: 1px;
}

.imagen_receta {
    width: 400px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: $color1;
}

.contenedor_descripcion_receta {
    display: flex;
    font-size: 25px;
    background-color: $color3;
    justify-content: center;
    height: 50%;
    width: 100%;

    & h2 {
        font-size: 80px;
        font-family: $fuente2;
        display: flex;
        justify-content: center;
        color: $color2;
        padding-top: 20px;
        text-shadow: 0px 3px 20px $color1;
    }

    & p {
        font-size: 30px;
        text-align: center;
        justify-items: end;
        font-family: $fuente1;
        margin-top: 10%;
        color: white;
        padding: 20px;
    }
}

.contenedor_texto_receta {
    height: 50%;
    width: 100%;
    background-color: rgb(212, 208, 208);
    display: flex;
    justify-content: space-around;
    padding: 20px;

    & h2 {
        font-family: $fuente1;
        font-size: 30px;
        justify-content: center;
        display: flex;
        color: $color3;
    }
}

.receta_ingredientes {

    & ul {
        font-size: 25px;
        font-family: $fuente1;
        margin: 20px;
        text-transform: capitalize;
        list-style: disc;
    }

    & li {
        margin-top: 10px;
    }
}

.receta_pasos {
    display: flex;
    justify-items: left;

    & h3 {
        font-size: 25px;
        font-family: $fuente1;
        margin: 20px;
        text-transform: capitalize;
        margin: auto;
        justify-content: start;
    }

    & p {
        font-family: $fuente1;
        font-size: 20px;
        margin: 15px;
        max-width: 700px;
    }
}

//carga

.load {
    margin: 0;
    height: 100vh;
    background-color: #2b2b2b;
}

.load_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: #e2b68a;
        text-transform: uppercase;
    }
}



// media

@media only screen and (max-width: 985px) {

    .cocteles {
        display: flex;
        flex-direction: column;
    }

    .nombre_coctel {
        width: 600px;
    }

    .contenedor_descripcion_receta {
        display: flex;
        flex-direction: column;

        & p {
            margin-top: 30px;
        }
    }

    .imagen_receta {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
        width: 300px;
    }

    .contenedor_texto_receta {

        & h2 {
            font-size: 25px;
            margin: 20px;
        }

        & ul {
            font-size: 16px;
        }

        & h3 {
            font-size: 20px;
            margin-left: 20px;
        }

        & p {
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 600px) {

    .nombre_coctel {
        width: 425px;
    }

    .contenedor_descripcion_receta {

        & h2 {
            font-size: 70px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        & p {
            font-size: 25px;
        }
    }

    .contenedor_texto_receta {

        & h2 {
            font-size: 20px;
        }

        & ul {
            font-size: 15px;
        }

        & h3 {
            font-size: 15px;
            margin-left: 15px;
        }

        & p {
            font-size: 15px;
        }
    }

    .imagen_receta {
        width: 250px;
    }
}


@media only screen and (max-width: 426px) {

    .cocteles {
        display: flex;
        flex-direction: column;
    }

    .nombre_coctel {
        width: 370px;
    }

    .descripcion {
        width: 220px;
    }

    .coctel_foto {
        width: 100px;
    }

    .coctel_foto_bloqueada {
        width: 100px;
    }

    .bloqueado {
        margin: 45px;
    }

    .caja {
        width: 400px;
    }
}

@media only screen and (max-width: 376px) {

    .cocteles {
        display: flex;
        flex-direction: column;
    }

    .nombre_coctel {
        width: 310px;

    }

    .coctel_foto {
        width: 120px;
        margin: 10px;
    }

    .coctel_foto_bloqueada {
        width: 120px;
    }

    .bloqueado {
        margin: 45px;
    }

    .caja {
        width: 300px;

        & h1 {
            font-size: 15px;
        }

        & p {
            font-size: 12px;
        }
    }
}