* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

@media only screen and (max-heigh: 760px) {

    html,
    body {
        max-height: 750px;
    }
}