* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
    cursor: url(/img/cursor.png), auto;
}

a {
    cursor: url(/img/pointer.png), auto !important;
}

ul {
    cursor: url(/img/cursor.png), auto;
}

button {
    cursor: url(/img/cursor.png), auto;
}



@media only screen and (max-heigh: 760px) {

    html,
    body {
        max-height: 750px;
    }
}